.u-section-1-1 .u-sheet-1 {min-height: 837px}
.u-section-1-1 .u-group-1 {width: 853px; background-image: linear-gradient(to right, #008080, #e68387); min-height: 594px; margin: -9px 0 0 auto}
.u-section-1-1 .u-container-layout-1 {padding: 30px}
.u-section-1-1 .u-layout-wrap-1 {width: 1002px; margin: -509px auto 0 48px}
.u-section-1-1 .u-image-1 {min-height: 650px; background-image: url("images/IMG_20200704_160112.png"); background-position: 100% 53.8%; background-size: 140%}
.u-section-1-1 .u-container-layout-2 {padding: 30px}
.u-section-1-1 .u-layout-cell-2 {min-height: 440px}
.u-section-1-1 .u-container-layout-3 {padding: 30px 55px 30px 60px}
.u-section-1-1 .u-text-1 {font-size: 3.125rem; font-family: Aleo; font-weight: 700; margin: 20px 16px 0 -16px}
.u-section-1-1 .u-text-2 {font-size: 1.5rem; background-image: none; margin: 76px -11px 0 -16px}
.u-section-1-1 .u-layout-cell-3 {min-height: 210px} 

@media (max-width: 1199px){ .u-section-1-1 .u-sheet-1 {min-height: 775px}
.u-section-1-1 .u-group-1 {width: 810px}
.u-section-1-1 .u-layout-wrap-1 {margin-top: -535px; margin-bottom: 60px; margin-right: initial; margin-left: initial; width: auto}
.u-section-1-1 .u-image-1 {min-height: 610px}
.u-section-1-1 .u-layout-cell-2 {min-height: 413px}
.u-section-1-1 .u-container-layout-3 {padding-right: 40px; padding-left: 30px}
.u-section-1-1 .u-layout-cell-3 {min-height: 197px} }

@media (max-width: 991px){ .u-section-1-1 .u-sheet-1 {min-height: 793px}
.u-section-1-1 .u-group-1 {width: 628px; margin-left: 92px}
.u-section-1-1 .u-image-1 {min-height: 467px}
.u-section-1-1 .u-layout-cell-2 {min-height: 100px}
.u-section-1-1 .u-container-layout-3 {padding-right: 30px}
.u-section-1-1 .u-text-1 {font-size: 2.5rem; margin-right: -16px}
.u-section-1-1 .u-layout-cell-3 {min-height: 151px} }

@media (max-width: 767px){ .u-section-1-1 .u-sheet-1 {min-height: 1193px}
.u-section-1-1 .u-group-1 {margin-top: 222px; margin-right: initial; margin-left: initial; width: auto}
.u-section-1-1 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-1-1 .u-layout-wrap-1 {margin-top: -989px; width: auto; margin-right: initial; margin-left: initial}
.u-section-1-1 .u-image-1 {min-height: 593px}
.u-section-1-1 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-1-1 .u-layout-cell-2 {min-height: 296px}
.u-section-1-1 .u-container-layout-3 {padding-right: 10px; padding-left: 10px}
.u-section-1-1 .u-text-1 {font-size: 2.25}
.u-section-1-1 .u-layout-cell-3 {min-height: 227px} }

@media (max-width: 575px){ .u-section-1-1 .u-sheet-1 {min-height: 979px}
.u-section-1-1 .u-group-1 {min-height: 762px; width: 338px; margin-top: 0; margin-left: auto; margin-right: auto}
.u-section-1-1 .u-layout-wrap-1 {width: 340px; margin-top: -762px; margin-right: auto; margin-left: 0}
.u-section-1-1 .u-image-1 {min-height: 384px}
.u-section-1-1 .u-layout-cell-2 {min-height: 378px}
.u-section-1-1 .u-text-1 {font-size: 2.25rem; margin-left: 0; margin-right: 0}
.u-section-1-1 .u-text-2 {font-size: 1rem; margin-top: 60px; margin-left: 1px; margin-right: 1px}
.u-section-1-1 .u-layout-cell-3 {min-height: 143px} }.u-section-1-2 .u-sheet-1 {min-height: 837px}
.u-section-1-2 .u-shape-1 {width: 853px; height: 630px; background-image: linear-gradient(to right, #008080, #e68387); margin: 0 0 0 auto}
.u-section-1-2 .u-layout-wrap-1 {width: 995px; margin: -564px auto 60px 69px}
.u-section-1-2 .u-image-1 {min-height: 719px; background-image: url("images/IMG_570211.JPG"); background-position: 50% 50%}
.u-section-1-2 .u-container-layout-1 {padding: 30px}
.u-section-1-2 .u-layout-cell-2 {min-height: 498px}
.u-section-1-2 .u-container-layout-2 {padding: 30px 55px 30px 60px}
.u-section-1-2 .u-text-1 {font-size: 3.125rem; font-family: Aleo; font-weight: 700; margin: 20px 24px 0 -24px}
.u-section-1-2 .u-text-2 {font-size: 1.5rem; margin: 52px -19px 0 -24px}
.u-section-1-2 .u-layout-cell-3 {min-height: 221px} 

@media (max-width: 1199px){ .u-section-1-2 .u-sheet-1 {min-height: 820px}
.u-section-1-2 .u-shape-1 {width: 668px}
.u-section-1-2 .u-layout-wrap-1 {width: 912px; margin-top: -580px; margin-left: 0}
.u-section-1-2 .u-image-1 {min-height: 666px}
.u-section-1-2 .u-layout-cell-2 {min-height: 491px}
.u-section-1-2 .u-container-layout-2 {padding-right: 40px; padding-left: 30px}
.u-section-1-2 .u-layout-cell-3 {min-height: 175px} }

@media (max-width: 991px){ .u-section-1-2 .u-sheet-1 {min-height: 709px}
.u-section-1-2 .u-shape-1 {width: 628px; height: 527px; margin-left: 92px}
.u-section-1-2 .u-layout-wrap-1 {margin-top: -477px; margin-bottom: 24px; margin-right: initial; margin-left: initial; width: auto}
.u-section-1-2 .u-image-1 {min-height: 72px}
.u-section-1-2 .u-layout-cell-2 {min-height: 72px}
.u-section-1-2 .u-container-layout-2 {padding-right: 30px}
.u-section-1-2 .u-text-1 {font-size: 2.5rem; width: auto}
.u-section-1-2 .u-layout-cell-3 {min-height: 72px} }

@media (max-width: 767px){ .u-section-1-2 .u-sheet-1 {min-height: 1199px}
.u-section-1-2 .u-shape-1 {height: 858px; margin-right: initial; margin-left: initial; width: auto}
.u-section-1-2 .u-image-1 {min-height: 593px}
.u-section-1-2 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-1-2 .u-layout-cell-2 {min-height: 296px}
.u-section-1-2 .u-container-layout-2 {padding-right: 10px; padding-left: 10px}
.u-section-1-2 .u-text-1 {font-size: 2.25}
.u-section-1-2 .u-layout-cell-3 {min-height: 207px} }

@media (max-width: 575px){ .u-section-1-2 .u-sheet-1 {min-height: 1089px}
.u-section-1-2 .u-shape-1 {height: 761px; width: auto; margin-right: initial; margin-left: initial}
.u-section-1-2 .u-layout-wrap-1 {margin-top: -761px; margin-bottom: 60px; width: auto; margin-right: initial; margin-left: initial}
.u-section-1-2 .u-image-1 {min-height: 411px}
.u-section-1-2 .u-layout-cell-2 {min-height: 350px}
.u-section-1-2 .u-text-1 {font-size: 2.25rem; margin-top: 26px; margin-right: -10px; margin-left: 10px}
.u-section-1-2 .u-text-2 {font-size: 0.875rem; margin-top: 41px; margin-left: 10px; margin-right: 10px}
.u-section-1-2 .u-layout-cell-3 {min-height: 130px} }.u-section-1-3 {min-height: 288px}
.u-section-1-3 .u-sheet-1 {min-height: 837px}
.u-section-1-3 .u-shape-1 {width: 853px; height: 585px; background-image: linear-gradient(#008080, #e68387); margin: 0 0 0 auto}
.u-section-1-3 .u-layout-wrap-1 {width: 1002px; margin: -509px auto 60px 48px}
.u-section-1-3 .u-image-1 {min-height: 650px; background-image: url("images/IMG_06071.JPG"); background-position: 50% 50%}
.u-section-1-3 .u-container-layout-1 {padding: 30px}
.u-section-1-3 .u-layout-cell-2 {min-height: 394px}
.u-section-1-3 .u-container-layout-2 {padding: 30px 55px 30px 60px}
.u-section-1-3 .u-text-1 {font-size: 3.125rem; font-family: Aleo; font-weight: 700; margin: 0 41px 0 -41px}
.u-section-1-3 .u-text-2 {font-size: 1.5rem; margin: 38px 0 -17px -41px}
.u-section-1-3 .u-layout-cell-3 {min-height: 210px} 

@media (max-width: 1199px){ .u-section-1-3 {min-height: 248px}
.u-section-1-3 .u-sheet-1 {min-height: 713px}
.u-section-1-3 .u-shape-1 {width: 810px; margin-top: 3px; margin-right: auto; margin-left: 30px}
.u-section-1-3 .u-layout-wrap-1 {margin-top: -538px; margin-bottom: 26px; margin-right: initial; margin-left: initial; width: auto}
.u-section-1-3 .u-image-1 {min-height: 610px}
.u-section-1-3 .u-layout-cell-2 {min-height: 370px}
.u-section-1-3 .u-container-layout-2 {padding-right: 40px; padding-left: 30px}
.u-section-1-3 .u-text-1 {width: auto; margin-right: 16px; margin-left: -15px}
.u-section-1-3 .u-text-2 {width: auto; margin-right: -25px; margin-left: -15px}
.u-section-1-3 .u-layout-cell-3 {min-height: 197px} }

@media (max-width: 991px){ .u-section-1-3 {min-height: 379px}
.u-section-1-3 .u-sheet-1 {min-height: 379px}
.u-section-1-3 .u-shape-1 {width: 628px; height: 527px; margin-right: 210px; margin-left: 0}
.u-section-1-3 .u-layout-wrap-1 {margin-top: -469px; width: auto; margin-right: initial; margin-left: initial}
.u-section-1-3 .u-image-1 {min-height: 34px}
.u-section-1-3 .u-layout-cell-2 {min-height: 34px}
.u-section-1-3 .u-container-layout-2 {padding-right: 30px}
.u-section-1-3 .u-text-1 {font-size: 2.5rem; margin-left: 0; margin-right: 0}
.u-section-1-3 .u-text-2 {margin-left: 0; margin-right: 0}
.u-section-1-3 .u-layout-cell-3 {min-height: 34px} }

@media (max-width: 767px){ .u-section-1-3 {min-height: 794px}
.u-section-1-3 .u-sheet-1 {min-height: 794px}
.u-section-1-3 .u-shape-1 {height: 858px; margin-top: 222px; margin-right: initial; margin-left: initial; width: auto}
.u-section-1-3 .u-layout-wrap-1 {margin-top: -989px; width: auto; margin-right: initial; margin-left: initial}
.u-section-1-3 .u-image-1 {min-height: 593px}
.u-section-1-3 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-1-3 .u-layout-cell-2 {min-height: 296px}
.u-section-1-3 .u-container-layout-2 {padding-right: 10px; padding-left: 10px}
.u-section-1-3 .u-text-1 {font-size: 2.25}
.u-section-1-3 .u-layout-cell-3 {min-height: 227px} }

@media (max-width: 575px){ .u-section-1-3 {min-height: 322px}
.u-section-1-3 .u-sheet-1 {min-height: 979px}
.u-section-1-3 .u-shape-1 {height: 783px; margin-top: 3px; width: auto; margin-right: initial; margin-left: initial}
.u-section-1-3 .u-layout-wrap-1 {margin-top: -760px; width: auto; margin-right: initial; margin-left: initial}
.u-section-1-3 .u-image-1 {min-height: 406px}
.u-section-1-3 .u-layout-cell-2 {min-height: 354px}
.u-section-1-3 .u-text-1 {font-size: 2.25rem; margin-top: 15px; margin-right: -10px; margin-left: 10px}
.u-section-1-3 .u-text-2 {font-size: 1rem; margin-top: 23px; margin-bottom: 0; margin-left: 10px}
.u-section-1-3 .u-layout-cell-3 {min-height: 143px} }.u-block-57c3-1 {min-height: 979px}
.u-block-57c3-11 {position: absolute; width: 108px; height: 3px; top: auto; left: auto; right: calc(((100% - 1140px) / 2)  + 508px); bottom: 198px}
.u-block-57c3-9 {position: absolute; left: 0; width: 65px; height: 65px; top: 425px; right: auto}
.u-block-57c3-10 {position: absolute; width: 65px; height: 65px; left: auto; top: 425px; right: 0} 

@media (max-width: 1199px){ .u-block-57c3-1 {min-height: 797px}
.u-block-57c3-11 {right: calc(((100% - 940px) / 2)  + 408px)} }

@media (max-width: 991px){ .u-block-57c3-1 {min-height: 654px}
.u-block-57c3-11 {right: calc(((100% - 720px) / 2)  + 298px)} }

@media (max-width: 767px){ .u-block-57c3-1 {min-height: 1215px}
.u-block-57c3-11 {right: calc(((100% - 540px) / 2)  + 208px)} }

@media (max-width: 575px){ .u-block-57c3-1 {min-height: 979px}
.u-block-57c3-11 {right: calc(((100% - 340px) / 2)  + 108px)} }